// ---------------------------
// COLORS
// ---------------------------
$C_accent: #30aa4c;
$C_dark: #273830;
$C_collectionBG: #f7fcfe;
$C_link: #4e5fab;

// ---------------------------
// TYPOGRAPHY
// ---------------------------

// Sizes
$font-size-xl : 30px;
$font-size-l  : 22px;

// Weights
$W_text   : 300;
$W_medium : 400;
$W_bold   : 700;